body { 
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    background-image: url("/images/bg.png"); 
    color: #333;
    margin: 0;
} 
a:focus, a:hover { color: #0099FF; }
a { color: #0066CC; text-decoration: none; }

.container { width: 772px; margin: 0 auto; }
.round {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.post { color: #345; background: #FFF; margin: 6em 0; padding: 70px 80px; font-size: 0.9em; line-height: 1.8; }
h1, h2, h3, h4, h5, h6 { color: #111111; font-weight: normal; }
h1 { margin: 0 0 40px; }
p { margin: 0 0 1.5em;  }
pre, code {
    font-family: 'andale mono','lucida console',monospace;
    line-height: 1.5;
}
pre {
    background-image: url("/images/gray_sand.gif");
    margin: 0 0 1.5em;
    overflow-x: hidden;
    padding: 0.8em;
}
code { color: #C00; }
pre code { color: #EEE; font-size: 0.9em; }

blockquote {
    color: #666;
    font-style: italic;
    margin: 1.8em;
}

.post .date { font-size: 0.8em; margin-top: 80px; color: #666; text-align: right;  }

.footer { margin-bottom: 6em; border-top: dashed 1px #ddd;  padding: 3em 5em; font-size: 0.7em; color: #999; line-height: 1.8; text-shadow: 1px 1px 0 #fff; }
.footer .column { float: left; margin-right: 4em; }
.footer a:hover { color: #666; }
.footer a { color: #999; }

.tail { margin-bottom: 6em; padding: 0 1em; font-size: 0.8em; color: #aaa; }
.tail .older { float: left; text-align: left; }
.tail .newer { float: right; text-align: right; }
.tail .date { font-size: 0.7em; margin-top: 0.3em; }
.tail a:hover { color: #666; }
.tail a { display: block; color: #999; font-size: 1.4em; }

.clear { clear: both; }
